@font-face {
    font-family: 'Helvetica Narrow';
    src: local('Helvetica Narrow'), local('Helvetica-Narrow'),
        url('Helvetica-Narrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'),
        url('Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Black'), local('Helvetica-Black'),
        url('Helvetica-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Condensed Bold'), local('Helvetica-Condensed-Bold'),
        url('Helvetica-Condensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Narrow Bold'), local('Helvetica-Narrow-Bold'),
        url('Helvetica-Narrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Bold Oblique'), local('Helvetica-BoldOblique'),
        url('Helvetica-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Condensed Light'), local('Helvetica-Condensed-Light'),
        url('Helvetica-Condensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica.Black Oblique'), local('Helvetica-BlackOblique'),
        url('Helvetica-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Narrow'), local('Helvetica-Narrow'),
        url('Helvetica-Narrow_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Narrow Bold Oblique'), local('Helvetica-Narrow-BoldOblique'),
        url('Helvetica-Narrow-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Narrow Oblique'), local('Helvetica-Narrow-Oblique'),
        url('Helvetica-Narrow-Oblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Oblique'), local('Helvetica-Oblique'),
        url('Helvetica-Oblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Ultra Compressed'), local('Helvetica-UltraCompressed'),
        url('Helvetica-UltraCompressed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Narrow Bold Italic'), local('Helvetica-Narrow-BoldItalic'),
        url('Helvetica-Narrow-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Bold'), local('Helvetica-Bold'),
        url('Helvetica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Light'), local('Helvetica-Light'),
        url('Helvetica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Light Oblique'), local('Helvetica-LightOblique'),
        url('Helvetica-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Narrow Italic'), local('Helvetica-Narrow-Italic'),
        url('Helvetica-Narrow-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Condensed Medium'), local('Helvetica-Condensed'),
        url('Helvetica-Condensed.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Condensed Black'), local('Helvetica-Condensed-Black'),
        url('Helvetica-Condensed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica.Condensed Oblique'), local('Helvetica-Condensed-Oblique'),
        url('Helvetica-Condensed-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica Compressed'), local('Helvetica-Compressed'),
        url('Helvetica-Compressed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

