@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI'), local('SegoeUI'),
        url('https://gen1n.github.io/fonts/AFP_HorizonScan/SegoeUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Bold Italic'), local('SegoeUI-BoldItalic'),
        url('https://gen1n.github.io/fonts/AFP_HorizonScan/SegoeUI-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Semibold Italic'), local('SegoeUI-SemiboldItalic'),
        url('https://gen1n.github.io/fonts/AFP_HorizonScan/SegoeUI-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Black Italic'), local('SegoeUIBlack-Italic'),
        url('https://gen1n.github.io/fonts/AFP_HorizonScan/SegoeUIBlack-Italic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Light'), local('SegoeUI-Light'),
        url('https://gen1n.github.io/fonts/AFP_HorizonScan/SegoeUI-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Semilight';
    src: local('Segoe UI Semilight Italic'), local('SegoeUI-SemilightItalic'),
        url('https://gen1n.github.io/fonts/AFP_HorizonScan/SegoeUI-SemilightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Black'), local('SegoeUIBlack'),
        url('https://gen1n.github.io/fonts/AFP_HorizonScan/SegoeUIBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Semibold'), local('SegoeUI-Semibold'),
        url('https://gen1n.github.io/fonts/AFP_HorizonScan/SegoeUI-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
        url('https://gen1n.github.io/fonts/AFP_HorizonScan/SegoeUI-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Italic'), local('SegoeUI-Italic'),
        url('https://gen1n.github.io/fonts/AFP_HorizonScan/SegoeUI-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI Semilight';
    src: local('Segoe UI Semilight'), local('SegoeUI-Semilight'),
        url('https://gen1n.github.io/fonts/AFP_HorizonScan/SegoeUI-Semilight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: local('Segoe UI Light Italic'), local('SegoeUI-LightItalic'),
        url('https://gen1n.github.io/fonts/AFP_HorizonScan/SegoeUI-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

