@font-face {
    font-family: Santa\'sSleighFull;
    src: url('https://gen1n.github.io/font_santa/SantasSleighFull.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Santa\'sSleighFull Deluxe;
    src: url('https://gen1n.github.io/font_santa/SantasSleighFullDeluxe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Santa\'sSleighFull;
    src: url('https://gen1n.github.io/font_santa/SantasSleighFullBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
